.title {
  position: absolute;
  display: flex;

  top: 0px;
  left: 0px;
  right: 0px;
  
  justify-content: center;
}

.image-settings {
  position: absolute;

  right: 10px;
  top: 10px;

  height: 30px;

  cursor: pointer;

  transition: all 0.5s;

  z-index: 100;
}
.image-settings:hover {
  transform: scale(1.1);
}


.image-avatar {
  height: 150px;

  box-shadow: 0px 0px 25px rgb(41, 41, 41);
  
  border: 4px solid #000000;
  border-radius: 50%;

  cursor: pointer;

  transition: all 0.7s;
}
.image-avatar:hover {
  transform: scale(1.05);
}

.avatar-name {
  margin-top: 5px;

  font-size: 25px;
  font-weight: bold;

  text-shadow: 0px 0px 10px #fbfbfb;
}

.avatar-name-madeby {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.button-report {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;

  --color-1: rgba(12, 42, 99);
  --color-2: rgb(30, 56, 65);
  --color-3: rgba(62, 0, 65);
  --color-4: #383232;

  font-size: 23px;
  font-weight: bold;

  width: 300px;
  height: 45px;
  bottom: 110px;

  border-radius: 15px 30px;
  
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, var(--color-1) 0%, var(--color-2) 25%, var(--color-3) 51%, var(--color-4) 100%);

  animation: AnimateBT 15s ease infinite;

  cursor: pointer;

  transition: all 0.7s;
}
.button-report:hover {
  box-shadow: 0px 0px 15px white;
  width: 315px;
  height: 50px;
}

.button-border {
  z-index: -1;
  position: absolute;
  width: 300px;
  height: 45px;
  
  background: linear-gradient(45deg, #ff00fb 0%, #00ffff 100%);
  background-size: 200% 200%;
  filter: blur(10px);
  opacity: 0.79;
  border-radius: inherit;
  
  animation: AnimateBD 10s linear infinite;
}

.text-support {
  position: relative;
  display: flex;
  top: 20%;
  justify-content: center;
  text-shadow: 0px 0px 10px #fbfbfb;

  animation: AnimateTX 7s ease infinite;
}

.image-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: right;

  
  width: 330;
  bottom: 10px;
}

.image-github {
  height: 40px;

  border-radius: 100%;
  
  cursor: pointer;

  transition: all 0.7s;
}
.image-github:hover {
  transform: scale(1.12);

  box-shadow: 0px 0px 12px white;
}

.copyright {
  position: absolute;
  bottom: 5px;
  left: 5px;
}